.titulo {
  text-align: center;
}

.flex {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.flex a {
  background-color: white;
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.grid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  place-content: center;
}

.topleft {
  background-color: white;
  text-align: right;
  position: relative;
}

img {
  max-width: 100%;
}

.cinza {
  font-size: 64px;
  color: #c6c6c6;
  text-align: right;
  place-self: center;
}

.descricao {
  background-color: white;
  border: 50px solid white;
}

.fixo {
  background-color: #ee2211;
  color: #ee2211;
  font-size: 5px;
  position: absolute;
  top: 10px;
  right: -40px;
  padding: 1px 40px;
}

.botao {
  text-decoration: none;
  color: white;
  background-color: #ee2211;
  padding: 10px 30px;
}

/* # Cores

cinza-fundo: #f7f7f7
cinza-texto: #c6c6c6
vermelho: #ee2211

# Tipografia

fonte: Arial
parágrafos: 20px
Vantagens Bikcraft: 64px

# Tamanhos

conteúdo principal: máximo 1000px */

body {
  margin-top: 40px;
  font-family: Arial;
  background-color: #f7f7f7;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

a {
  font-size: 20px;
}
