body {
  margin: 0px;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.3rem;
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.navegacao {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.navp {
  background-color: white;
  padding: 15px 30px;
  border-radius: 10px;
  color: black;
  text-transform: uppercase;
}

.navp:hover {
  transition: 0.1s;
  outline: #ee2211 solid 2px;
}

.conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* place-content: center; */
  max-width: 1000px;
}

.topleft {
  background-color: white;
  text-align: right;
  position: relative;
  padding: 40px;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.topleft::before {
  content: "";
  background: #ee2211;
  position: absolute;
  top: 30px;
  right: -30px;
  width: 60px;
  height: 4px;
}

img {
  max-width: 100%;
  /* display: block; */
}

.cinza {
  font-size: 4rem;
  color: #c6c6c6;
  text-align: right;
  align-self: center;
  text-transform: uppercase;
  padding: 40px;
  background-image: url(/img/onda.svg);
}

.descricao li:nth-child(odd) {
  background-color: #f7f7f7;
}

.descricao {
  margin: 0rem;
  background-color: white;
  padding: 40px;
}

.descricao-itens:hover {
  transition: 0.1s;
  border-left: 0.2rem solid #ee2211;
}

.descricao-itens {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.descricao-itens p {
  grid-column: 2;
  grid-row: 2;
}

.botao {
  color: white;
  background-color: #ee2211;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  outline: 0.2rem solid #900;
  transition: 0.1s;
}

.rodape {
  bottom: 0px;
  padding: 30px;
  width: 100%;
  background: white;
  text-align: center;
  box-sizing: border-box;
}
