body {
  margin: 0rem;
  margin-top: 3.75rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cbd18f;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
}

p,
h1,
h2,
h3 {
  margin: 0rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.navegacao {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  flex-wrap: wrap;
}

.navp {
  background-color: white;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.625rem;
  color: black;
  text-transform: uppercase;
}

.navp:hover {
  /* transition-property: ; */
  transition: 0.1s;
  outline: #3a6b35 solid 0.125rem;
}

.conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 62.5rem;
}

.topleft {
  background-color: white;
  text-align: right;
  position: relative;
  padding: 2.5rem;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
}

.topleft::before {
  content: "";
  background: #e3b410;
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
  width: 3.75rem;
  height: 0.25rem;
}

img {
  max-width: 100%;
}

.headaxe {
  width: 10rem;
}

.machado {
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.lowerLeft {
  font-size: 4rem;
  color: #3a6b35;
  text-align: right;
  align-self: center;
  text-transform: uppercase;
  padding: 2.5rem;
  background-image: url(img/onda.svg);
}

.descricao li:nth-child(odd) {
  background-color: #f7f7f7;
}

.descricao {
  margin: 0rem;
  background-color: white;
  padding: 2.5rem;
}

.descricao-itens:hover {
  transition: 0.1s;
  border-left: 0.2rem solid #3a6b35;
}

.descricao-itens {
  display: grid;
  grid-template-columns: 1.5625rem 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
}

.descricao-itens p {
  grid-column: 2;
  grid-row: 2;
}

.botao {
  color: #3a6b35;
  background-color: #cbd18f;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.botao:hover {
  outline: 0.2rem solid #3a6b35;
  transition: 0.1s;
}

.rodape {
  bottom: 0rem;
  padding: 1.875rem;
  width: 100%;
  background: #e3b448;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 915px) {
  .conteudo {
    grid-template-columns: 1fr;
    max-width: 35rem;
  }

  body {
    margin: 0rem;
    margin-top: 2rem;
    gap: 2rem;
  }

  .navp {
    background-color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 0.625rem;
    color: black;
    text-transform: uppercase;
  }

  .topleft::before {
    display: none;
  }

  .topleft {
    text-align: center;
  }
  .lowerLeft {
    font-size: 2rem;
  }
}
